/* .card {
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    border-radius: 6 px;
    background-color: white;
    padding: 10% 30%;
    width: 5%;
    height: 50%;
    max-width: 40rem;
} */

.card {
    margin-inline-start: 30px;
    margin-top:80px;
    height: 100px;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0 , 0 , 0.26);
    border-radius: 10px;
}